:root {
    --primary-color: rgb(0, 40, 0);
    --secondary-color: rgb(79, 150, 79);
    --tertiary-color: rgb(39, 88, 39);
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
th, td {
    border: 1px solid var(--primary-color);
    padding: 8px;
    text-align: center;
}
th {
    background-color: var(--tertiary-color);
    
}
tr:nth-child(even) {
    background-color: var(--secondary-color);
}

tr:nth-child(odd) {
    background-color: rgb(153, 197, 153);
<<<<<<< HEAD
}

#grafico {
    border: 1px solid var(--primary-color);
    width: auto;
    margin: 20px auto;
    border-radius: 12px;
=======
>>>>>>> origin/master
}