html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  background: radial-gradient(circle, rgba(0, 40, 0, 1) 40%, rgba(0, 20, 0, 1) 100%);
  height: 100vh;
  margin: 0;
  color: white;
  display: flex; /* Convertimos el body en un contenedor flex */
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

body {
  transition: opacity 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
}

body.fade-in {
  opacity: 1;
}



.list {
  margin-top: 80px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  display: inline-flex;
  width: 100%;
  justify-content: center; /* Ajusta la distribución interna de los elementos */
}

.list .item {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  padding: 5px;
  height: 40dvh;
  width: 10vw;
}

.list .item img {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.5s;
  filter: brightness(0.1);
  object-fit: cover;
  border-radius: 12px;
}

.list .item .p-name {
  margin-top: 10px;
  text-align: center;
}

.list .item:hover {
  transform: translateZ(200px);
}

.list .item:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52.5%);
  z-index: -1;
  padding: 10px;
  background-color: rgb(79, 150, 79);
  filter: blur(1.5rem);
  border-radius: 12px;
  transition: 0.5s;
}

.list .item:hover img {
  filter: brightness(1);
}

.list .item:hover + *,
.list .item:hover + * img {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + *,
.list .item:hover + * + * img {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(20deg);
}

.list .item:hover + * + * + *,
.list .item:hover + * + * + * img {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(10deg);
}

.list .item:has(+ *:hover),
.list .item:has(+ *:hover) img {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(-40deg);
}

.list .item:has(+ * + *:hover),
.list .item:has(+ * + *:hover) img {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(-20deg);
}

.list .item:has(+ * + * + *:hover),
.list .item:has(+ * + * + *:hover) img {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(-10deg);
}

.list .item:has(+ * + * + * + *:hover),
.list .item:has(+ * + * + * + *:hover) img {
  filter: brightness(0.05);
}

.list .item:has(+ * + * + * + * + *:hover),
.list .item:has(+ * + * + * + * + *:hover) img {
  filter: brightness(0.05);
}

.list .item:has(+ * + * + * + * + * + *:hover),
.list .item:has(+ * + * + * + * + * + *:hover) img {
  filter: brightness(0.05);
}

.list .item:hover + * + * + * + *,
.list .item:hover + * + * + * + * img {
  filter: brightness(0.05);
}

.list .item:hover + * + * + * + * + *,
.list .item:hover + * + * + * + * + * img {
  filter: brightness(0.05);
}

.list .item:hover + * + * + * + * + * + *,
.list .item:hover + * + * + * + * + * + * img {
  filter: brightness(0.05);
}